<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE section PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
"http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd">
<section id="applications-system" lang="de" revision="$Revision$">
  <!--
% Copyright (c) 2006 - 2008 by 
% Stefan Wintermeyer <stefan.wintermeyer@amooma.de>
% Philipp Kempgen <philipp.kempgen@amooma.de>
% Permission is granted to copy, distribute and/or modify this document
% under the terms of the GNU Free Documentation License, Version 1.2
% or any later version published by the Free Software Foundation
% with no Invariant Sections, no Front-Cover Texts, and no Back-Cover
% Texts. A copy of the license is included in the section entitled "GNU
% Free Documentation License".
% Asterisk training and consulting is offered at http://www.amooma.de
-->

  <title><literal>System()</literal></title>

  <indexterm significance="preferred">
    <primary>Dialplan-Applikationen</primary>

    <secondary><code>System()</code></secondary>
  </indexterm>

  <simpara>Führt einen Shell-Befehl aus.</simpara>

  <synopsis>System(<replaceable>Befehl</replaceable>)</synopsis>

  <simpara>Führt durch die C-Funktion <code>system()</code> einen Befehl auf
  der Shell <command>sh</command> aus.</simpara>

  <simpara>Diese Anwendung ist der <code>TrySystem()</code>-Anwendung sehr
  ähnlich, abgesehen davon, dass sie -1 zurückliefert, falls sie den
  Systembefehl nicht ausführen kann, wohingegen die
  <code>TrySystem()</code>-Anwendung stets 0 zurückliefert.</simpara>

  <simpara>Setzt die Channelvariable <code>SYSTEMSTATUS</code> auf
  <code>SUCCESS</code> (erfolgreich ausgeführt), <code>FAILURE</code> (konnte
  nicht ausgeführt werden) oder (undokumentiert) auf <code>APPERROR</code>
  (Befehl ausgeführt aber mit Exit-Code ungleich 0).</simpara>

  <programlisting>exten =&gt; s,1,System(echo '${DATETIME} - ${CALLERID} - ${CHANNEL}' &gt;&gt; /var/log/asterisk/anrufe)</programlisting>

  <xi:include href="system-help.xml" xpointer="xpointer(/note/*)"
              xmlns:xi="http://www.w3.org/2001/XInclude" />

  <formalpara>
    <title>Siehe auch</title>

    <para><xref linkend="applications-trysystem" />, <xref
    linkend="functions-shell" /></para>
  </formalpara>
</section>
