<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE section PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
"http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd">
<section id="applications-system" lang="en" revision="$Revision$">
  <!--
% Copyright (c) 2006 - 2008 by 
% Stefan Wintermeyer <stefan.wintermeyer@amooma.de>
% Philipp Kempgen <philipp.kempgen@amooma.de>
% Permission is granted to copy, distribute and/or modify this document
% under the terms of the GNU Free Documentation License, Version 1.2
% or any later version published by the Free Software Foundation
% with no Invariant Sections, no Front-Cover Texts, and no Back-Cover
% Texts. A copy of the license is included in the section entitled "GNU
% Free Documentation License".
% Asterisk training and consulting is offered at http://www.amooma.de
-->

  <title><literal>System()</literal></title>

  <indexterm significance="preferred">
    <primary>Dialplan Applications</primary>

    <secondary><code>System()</code></secondary>
  </indexterm>

  <simpara>Executes a shell command.</simpara>

  <synopsis><synopsis>System(<replaceable>command</replaceable>)</synopsis></synopsis>

  <simpara>Uses the C <code>system()</code> function to execute a command on
  the system shell (<command>sh</command> or its equivalents).</simpara>

  <simpara>This is very similar to <code><command>TrySystem()</command></code>
  except that it returns -1 if it is unable to run the system command where as
  <code><command>TrySystem()</command></code> always returns 0.</simpara>

  <simpara>Sets the channel variable <code>SYSTEMSTATUS</code> to
  <code>SUCCESS</code>, <code>FAILURE</code> or <code>APPERROR</code> (this is
  undocumented; the command was executed but returned an exit code other than
  zero).</simpara>

  <programlisting>exten =&gt; s,1,System(echo '${DATETIME} - ${CALLERID} - ${CHANNEL}' &gt;&gt; /var/log/asterisk/anrufe)</programlisting>

  <formalpara>
    <title>See also</title>

    <para><xref linkend="applications-trysystem" /></para>
  </formalpara>

  <note>
    <para>An alternative is <code>Backticks()</code> application or the
    function <code>BACKTICKS()</code> from the <code>app_backticks</code>
    module.<footnote>
        <simpara>from <ulink
        url="http://www.pbxfreeware.org/archives/2005/06/index.html">http://www.pbxfreeware.org/archives/2005/06/index.html</ulink>
        or <ulink
        url="http://www.pbxfreeware.org/">http://www.pbxfreeware.org/</ulink></simpara>
      </footnote>This returns the output of the command.</para>
  </note>

  <xi:include href="system-help.xml" xpointer="xpointer(/note/*)"
              xmlns:xi="http://www.w3.org/2001/XInclude" />
</section>
